<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<center>
    <br><br><br><br><br><br><br><br><br>
<body bgcolor="orange">
    <h1>Welcome to the App where You can Convert your String Into Upper Case</h1>
    <form action="{{ url_for('upper_case') }}" method="post">
        <input type="text" name="a" placeholder="String">
        <button>Change String</button>
    </form>
</body>
</html>